*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.card{
  width: 300px;
  height: 380px;
  background: #1a1c1c;
  border-radius: 5%;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content{
  text-align: center;
  width: 100%;
}
.socialmedia{
  margin: 20px 0px;
}
.socialmedia a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  transition: 0.5s;
  border-radius: 50%;
  margin: 0px 4px;
}
.socialmedia a:hover{
  background: white;
  color: #1a1c1c;
}
h2{
  padding: 5px 0;
  font-size: 38px;
  font-family: 'Taviraj', serif;
  color: white;
}
h4{
  padding: 5px 0;
  font-size: 28px;
  color: #1a1c1c;
}
span{
  padding: 5px 0;
  font-size: 28px;
  font-family: 'Exo 2', sans-serif;
  color: white;
}
@media(hover:none){
  .socialmedia{
    margin: 50px 0px;
  }
  .socialmedia a{
    background: white;
    color: #1a1c1c;
    width: 150px;
    height: 150px;
    font-size: 90px;
    margin: 0px 25px;
  }
  .card{
    width: 90%;
    height: 65%;
  }
  h2{
    font-size: 110px;
  }
  h4{
    font-size: 90px;
    margin-bottom: 70px;
  }
  span{
    font-size: 90px;
    margin-bottom: 70px;
  }
}
@media(max-height: 380px){
 .card{
  height: 100%;
  } 
}